
@{
    ViewBag.Title = "ProductManagent";
}

<h2>Product Managent</h2>

<div>
    @*<button id="btnAdd">Add New Product</button>*@
    @Html.ActionLink("Products", "Index", "Default", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Categories", "Index", "Default", new { area = "" }, new { @class = "navbar-brand" })
</div>

